body {
    overflow: auto !important;
} /* To enable scrollbars when it is needed */

h1.title {
    text-align: center;
}

#shapeHolder {
    min-height: 20vh;
}

#inputHolder {
    display: flex;
    flex-direction: column;
}

.buttonHolder{
    display: flex;
    margin-bottom: 2%;
    justify-content: center;
}

#triangleResults {
    text-align: center;
    color: #00d1b2;
    font-size: 15vw;
}

#resultsHolder{
    text-align: center;
    font-size: 2vh;
}

@media (min-width: 600px) {

    h1.title {
        text-align: left;
    }

    #mainSection{
        display: flex;
        flex-wrap: wrap;
    }

    #shapeHolder {
        width: 50%;
    }

    #inputHolder {
        width: 50%;
    }

    #resultsHolder {
        width: 100%;
    }
} /* Tablet, Laptop, PC layout */